/*****************Home Media Query********************/

/* 0-576 Extra Small  */
@media screen and (max-width:576px) {
    .allCat {
        justify-content: center;
        row-gap: 20px;
    }

    .main-title {
        font-size: 30px;
    }
     section {
        margin: 60px 0;
    }
    #hero{
        margin: 60px 0 !important;
    }
}

/* 576-760 sm small */
@media screen and (min-width:576px) {
    .main-title {
        font-size: 30px;
    }
    section {
        margin: 60px 0;
    }
    #hero{
        margin: 60px 0 !important;
    }
}

/* 768-992 md medium */
@media screen and (min-width:768px) {
    .allCat {
        justify-content: center;
        row-gap: 20px;
    }

    .main-title {
        font-size: 35px;
    }
    section {
        margin: 80px 0;
    }
    #hero{
        margin: 80px 0 !important;
    }

}

/* 992-1200 lg large */
@media screen and (min-width:992px) {}

/* 1200-1400 xl extra large */
@media screen and (min-width:1200px) {
    .main-title {
        font-size: 42px;
    }

    section {
        margin: 100px 0;
    }
    #hero{
        margin: 80px 0 !important;
    }
}

/* 1400-1400+  xxl extra extra large size*/
@media screen and (min-width:1400px) {}


@media(max-width:900px){
    .product-page{
        flex-direction:column;
    }

    .product-images,
    .product-details{
        width:100%;
    }
}
@media(max-width:576px){

    .hero-content h1{
        font-size:32px;
    }
}

@media(max-width:991px){

    .hero-content{
        text-align:center;
        margin-bottom:40px;
    }

    .contact-info .col-lg-4{
        margin-bottom:50px;
    }

    .help-box{
        margin-top:40px;
    }

    section{
        padding:60px 0;
    }

    .hero-content h1{
        font-size:40px;
    }
}
@media(max-width:991px){

    .about-hero-content h1{
        font-size:42px;
    }

    .story-content{
        margin-top:40px;
    }
}

@media(max-width:576px){

    section{
        padding:60px 0;
    }

    .about-hero-content h1{
        font-size:32px;
    }
}
