* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "DM Sans", sans-serif;
}

section {
    margin: 100px 0;
}

.main-title {
    text-align: center;
    font-size: 42px;
}

.sub-title {
    text-align: center;
    color: gray;
    font-size: 18px;
    margin-bottom: 50px;
}

a {
    display: inline-block;
    text-decoration: none;
    color: black;
}

/* **************************Header************************* */
header {
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: white;
    width: 100%;
}

.logo img {
    width: 54px;
}

header .nav-link {
    margin: 0 16px;
}

/* *************************************************** */



/* **************************Hero Section************************* */
#hero {
    margin: 0 !important;
}

.heroSlider {
    width: 100%;
    height: 70vh;
}

.heroSlider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;

}

.heroSlider .color {
    color: gray;
    width: 15px;

}

/* *************************************************** */



/* **************************Category Section************************* */
.cateimg {
    text-align: center;
}

.cateimg a {
    display: block;
    width: 100%;
    height: 195px;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;

}

.cateimg a img {
    max-width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: all 1s;
}

.cateimg a:hover img {
    transform: scale(1.1);
}


/* *************************************************** */

/* **************************Today Product Section************************* */

.productimg {
    position: relative;
     overflow: hidden;
      border-radius: 15px;
}

.productimg .discount {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgb(220, 70, 70);
    padding: 1px 10px;
    color: white;
    border-radius: 17px;
    text-align: center;
    font-weight: 530;
    z-index: 99;
}

.productimg img {
    width: 100%;
    height: 400px;
    border-radius: 15px;
}

.productimg .secondimg{
   position: absolute;
    top: 0;
    left: 0;
    background-image: url(/Assests/images/product-3_2.jpg);
    background-size: cover;
    background-position: center center;
    opacity: 0;
    border-radius: 15px 15px 15px 15px;
    transition: all 0.5s;
  
}

.productimg:hover .secondimg {
    opacity: 1;
    transform: scale(1.1);
    
}

.productimg .like {
    position: absolute;
    top: 10px;
    right: -20px;
    transition: all .5s;
    opacity: 0;
}

.productimg .like i {
    display: block;
    background-color: white;
    padding: 9px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin-bottom: 8px;
    color: rgb(75, 75, 75);
}

.productimg:hover .like {
    position: absolute;
    right: 35px;
    opacity: 1;

}

.productimg .quick {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: -15px;
    width: 90%;
    background-color: white;
    padding: 7px;
    text-align: center;
    border-radius: 30px;
    opacity: 0;
    transition: all 0.5s;
}

.productimg:hover .quick {
    opacity: 1;
    bottom: 10px;

}
.productimg .quick:hover{
    background-color: black;
    color: white;
}
.productdata {
    margin-top: 15px;
}

.productdata p {
    margin: 0 0 0 0;
}

.productdata .star {
    color: rgb(240, 167, 80);
}

.productdata .cutprice {
    text-decoration: line-through;
    margin-right: 10px;
    color: gray;
}

.productdata .rightprice {
    color: brown;
    font-weight: 550;
}

.productdata {
    text-align: right;
}

.productdata .colr {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    padding: 2px;
}

.productdata .black {
    border: 1px solid black;

}

.productdata .colr span {
    background-color: black;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: inline-block;
}

.productdata .gray span {
    background-color: gray;

}

.productdata .brown span {
    background-color: brown;

}


/* *************************************************** */

/* **************************Mens & Womens Section************************* */

.shop img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.bag {
    margin-top: 10px;
}

.shop {
    position: relative;
}

.shop .name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.shop .name h3 {
    position: relative;
    font-size: 40px;
    transition: all 1s;
    text-decoration: none;


}

.shop .name:hover h3 {
    text-decoration: underline;
}

/* *************************************************** */

/* **************************Top Trendings Section************************* */
#trending .productdata{
    text-align: left;
}

/* *************************************************** */


/* **************************Reviews Section************************* */

 .image img{
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 10px;
}
.data .rating i{
    text-align: left;
    color: #F0A750;
}
.data{
     align-items: center;
}
.data h3{
    display: inline-block;
    font-size: 20px;
    font-weight: 650;
}
.data span i{
    background-color: rgb(2, 152, 2);
    color: white;
    padding: 2px;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    margin-left: 15px;
    margin-right: 5px;
    font-size: 13px;
}
.data .rate{
    margin-top: 20px;
    font-size: 19px;
    font-weight: 550;
    margin-bottom: 10px;
}
.data .product_nm{
    display: flex;
    align-items: center;
  
}
.data .product_nm .img{
    width: 80px;
    height: 80px;
    margin-top: 20px;
}
.data .product_nm .img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    
}
.data .product_nm .data_d{
    margin-left: 15px;
    font-weight: 550;
}
.data .product_nm .data_d p{
    margin: 0;
}
.data .product_nm .data_d .rightprice{
    color: brown;
}
/* *************************************************** */

/************************Footer*****************************/
.footdata{
    margin: 100px 0;
    justify-content: space-between;
}
.footdata .data img{
    width: 80px;
}
.footdata .data a,p{
    margin:  0 0 10px 0;
    color: rgb(72, 72, 72);
}
.footdata .data {
text-align: left;
}
.footdata .data a{
    display: block;
}
/* .footdata .data a:hover,p:hover{
    color: red;
} */
.footdata .data .icons a{
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid rgb(233, 227, 227);
    border-radius: 50%;
    color: rgb(25, 25, 25);
    padding:5px 7px;
    font-size: 18px;
    transition: all 0.5s;
}
.footdata .data .icons a:hover{
    background-color: rgb(220, 70, 70);
    color: white;
}
.footdata .data h4{
    font-size: 18px;
    
}
.footdata .data ul{
margin-top: 40px;
margin-left: -32px;
}
.footdata .data ul li{
    list-style: none;
    
   
}
.footdata .data ul li a{
    margin: 0;
    margin-top: 10px;
}
.newsletter p{
    margin-top: 40px;
}
.newsEmail{
    border: 1px solid rgb(193, 192, 192);
    padding: 2px 3px;
   border-radius: 50px;
   margin: 15px 0;
}
.newsEmail form{
    display: flex;
    justify-content: space-between;
}
.newsEmail form input,button{
    outline: none;
    border: none;
   
}
.newsEmail form input{
    margin-left: 10px;
}
.newsEmail form button{
    width: 40px;
    height: 40px;
    background-color: black;
   padding: 8px;
    border-radius: 50%;
}
.newsEmail form button button {
    background-color: black;
    color: white;
     transition: all 0.5s;
}
.newsEmail form button:hover{
     background-color: rgb(220, 70, 70);
}
.newsEmail form  button i{
    background-color: none;
    color: white;
    transform: rotate(-45deg);
    transition: all 0.5s;
    
}
.newsEmail form  button:hover i{
    transform: rotate(0);
    
}
/* *************************************************** */